apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: istio-proxies
  namespace: monitoring
  labels:
    release: prometheus
spec:
  selector:
    matchExpressions:
      - {key: security.istio.io/tlsMode, operator: Exists}
  namespaceSelector:
    any: true
  endpoints:
  - port: http-envoy-prom
    path: /stats/prometheus
    interval: 15s
